.board-card {
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.board-card__title { font-size: 1rem; font-weight: 400; line-height: 1; }